<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="demo" > <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>My AngularJS App</title>

        <link href="lib/onsen/css/onsen-css-components-blue-theme.css" rel="stylesheet" type="text/css"/>
        <link href="lib/onsen/css/onsenui.css" rel="stylesheet" type="text/css"/>
        <link href="lib/onsen/css/app.css" rel="stylesheet" type="text/css"/>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="lib/onsen/js/onsenui.js" type="text/javascript"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js" type="text/javascript"></script>

        <script src="js/login.js" type="text/javascript"></script>
        <script src="js/contact.js" type="text/javascript"></script>
        <script src="js/menu.js" type="text/javascript"></script>
        <script src="js/webbrowser.js" type="text/javascript"></script>
        <script src="js/report.js" type="text/javascript"></script>
        
    </head>
    <body >

  <ons-navigator var="myNavigator" page="login.html">    
    
    </ons-navigator>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    
   
 
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
<ons-template id="menu.html">
    <ons-page modifier="menu-page" ng-controller="MenuController">
        <ons-toolbar modifier="transparent">
            <div class="right">
                <ons-toolbar-button class="menu-close" ng-click="menu.close()">
                    <ons-icon icon="ion-close" ></ons-icon> 
                </ons-toolbar-button>
            </div>
        </ons-toolbar>

        <ons-list class="menu-list">
            <ons-list-item class="menu-item" ng-click="menu.close()">
                <ons-icon icon="fa-plus"></ons-icon>
                New Post
            </ons-list-item>

            <ons-list-item class="menu-item" ng-click="menu.close()">
                <ons-icon icon="fa-bookmark"></ons-icon>
                Bookmark
            </ons-list-item>

            <ons-list-item class="menu-item" ng-click="menu.close()">
                <ons-icon icon="fa-twitter"></ons-icon>
                Official Twitter
            </ons-list-item>
        </ons-list>

        <br>

        <ons-list class="bottom-menu-list">
            <ons-list-item class="bottom-menu-item" ng-click="gotoReport()">
                报表
                <div class="notification menu-notification">3</div>
            </ons-list-item>

            <ons-list-item class="bottom-menu-item" ng-click="reportSetting()">
                报表路径设置
            </ons-list-item>

            <ons-list-item class="bottom-menu-item" ng-click="logout()">
                退出登录
            </ons-list-item>
        </ons-list>

    </ons-page>
</ons-template>

</body>
</html>
