

<ons-page id="contactListPage" ng-controller="ContactController" >

    <ons-toolbar >
        <div class="left" >
            <ons-toolbar-button ng-click="addCustomer()"><ons-icon icon="ion-android-person-add"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center" >联系人</div>
        <div class="right" >
            <ons-toolbar-button  id="editor" ng-click="showpop('#editor')"> <ons-icon icon="ion-funnel"></ons-icon></ons-toolbar-button>
        </div>

    </ons-toolbar>

    <div class="navigation-bar">
        <div class="navigation-bar__center">

            <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-model="search">

        </div>
    </div>

    <ons-list>

        <ons-list-item ng-repeat="item in items |filter :search" ng-click="showDetail('contactDetail.html', item)" modifier="chevron"  class="list-item-container">

            <div class="list-item-left">
                <img src="{{smallImg}}"  class="avator">
            </div>
            <div class="list-item-right">
                <div class="list-item-content">
                    <div class="name">{{item.name}}
                        <span class="lucent">@上海</span>
                    </div>
                    <div class="desc"><ons-icon icon="fa-phone" fixed-width="false" size="15px"></ons-icon>
                        <span class="phone"><a href="tel:{{item.phoneNumber}}">{{item.phoneNumber}}</a> </span>
                        <ons-icon icon="fa-envelope" fixed-width="false" size="15px"></ons-icon>
                        <span class="email"><a href="mailto:{{item.email}}">{{item.email}}</a></span>
                    </div>
                </div>
            </div>


        </ons-list-item>


    </ons-list>

    <ons-template id="popover.html" >
        <ons-popover direction="up down" cancelable>
            <ons-list-header>查询方式</ons-list-header>
                <ons-list-item modifier="tappable" >
                    <label  class="radio-button radio-button--list-item">
                        <input type="radio" name="r" checked="checked">
                            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                        邮箱
                    </label>
                </ons-list-item>      
                <ons-list-item modifier="tappable">
                    <label class="radio-button radio-button--list-item">
                        <input type="radio" name="r">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                        电话
                    </label>
                </ons-list-item>

                <ons-list-item modifier="tappable">
                    <label class="radio-button radio-button--list-item">
                        <input type="radio" name="r">
                        <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                        姓名
                    </label>
                </ons-list-item>

           
        </ons-popover>
    </ons-template>
</ons-page>

<ons-template id="contactDetail.html" >
    <ons-page ng-controller="ContactController">

        <ons-toolbar >
            <div class="left" >
                <ons-back-button></ons-back-button>
            </div>
            <div class="center" >联系人</div>

           
            <div class="right" >
                       
                <ons-toolbar-button  ng-click="showpop('#editor')"><ons-icon  icon="ion-compose" style="vertical-align: -4px; font-size: 28px;"></ons-icon></ons-toolbar-button>
                     
            </div>


        </ons-toolbar>
        <div class="profile-card">


            <!--                <div style="float: left ;width: 50%;text-align: left;"><ons-back-button>Back</ons-back-button></div>
                            <div style="float: left;width: 50%;text-align: right;" >
                                <ons-toolbar-button><ons-icon icon="ion-compose" style="vertical-align: -4px; font-size: 28px;"></ons-icon></ons-toolbar-button>
                            </div>
            -->
            <div><img src="{{smallImg}}" class="profile-image"></div>
            <div class="profile-name">{{person.name}}</div>
            <div class="profile-id" id="editor" >@上海</div>
            <div class="profile-desc">{{person.phoneNumber}}</div>

        </div>

        <ons-list>
            <ons-list-item>
                <ons-row>
                    <ons-col class="info-col">
                        <div class="info-num">87</div>
                        <div class="info-unit">短信</div>
                    </ons-col>
                    <ons-col class="info-col">
                        <div class="info-num">40</div>
                        <div class="info-unit">电话</div>
                    </ons-col>
                    <ons-col class="info-col">
                        <div class="info-num">12</div>
                        <div class="info-unit">邮件</div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>

        <ons-list modifier="inset" style="margin-top: 10px">
            <ons-list-item modifier="chevron">
                商机信息
            </ons-list-item>

            <ons-list-item modifier="chevron">
                所属客户
            </ons-list-item>

            <ons-list-item modifier="chevron">
                拜访活动
            </ons-list-item>

            <ons-list-item modifier="chevron">
                备注说明
            </ons-list-item>
        </ons-list>

        <br>



    </ons-page>


</ons-template>


